{% extends 'basepage.html' %}

{% block content %}
<div class="container">
      <h1>My Certificates</h1>
	  <div>
	      <div class="post mini-post">
	        <div class="row">
	          <div class="col-md-4">
	              <p class="post-date">
	                  <a class="text-muted" href="#" title="2016-05-13T10:20:00+02:00">Wed 10 Aug 2016</a>
	              </p>
	              <p class="post-category">
	                  <a href="#">Udacity</a>
	             </p>
	          </div>
	          <div class="col-md-8">
	            <h2 class="post-title">
	              <a href="" title="">Data Analyst Nanodegree (Udacity)</a>
	            </h2>
	            <div class="post-content">
	              <a class="nodec" href="/static/images/udacity.jpg"><img src=/static/images/udacity.jpg></a>
	            </div>
	          </div>
	        </div>
	      </div>
	      <div class="post mini-post">
	        <div class="row">
	          <div class="col-md-4">
	              <p class="post-date">
	                  <a class="text-muted" href="#" title="2016-05-13T10:20:00+02:00">Wed 10 Aug 2016</a>
	              </p>
	              <p class="post-category">
	                  <a href="#">MongoDB</a>
	             </p>
	          </div>
	          <div class="col-md-8">
	            <h2 class="post-title">
	              <a href="" title="MongoDB for Python Developers">MongoDB for Python Developers</a>
	            </h2>
	            <div class="post-content">
	              <a class="nodec" href="/static/images/mongo_python.jpg"><img src=/static/images/mongo_python.jpg></a>
	            </div>
	          </div>
	        </div>
	      </div>
	      <div class="post mini-post">
	          <div class="row">
	              <div class="col-md-4">
	                  <p class="post-date">
	                      <a class="text-muted" href="#" title="2021-03-22T10:20:00+02:00">Mon 22 Mar 2021</a>
	                  </p>
	                  <p class="post-category"><a href="#">Tableau</a></p>
	              </div>
	              <div class="col-md-8">
	                  <h2 class="post-title">
	                      <a href="" title="tableau_senior">Tableau Senior</a>
	                  </h2>
	                  <div class="post-content">
	                      <a class="nodec" href="/static/images/tableau_senior.png"><img src=/static/images/tableau_senior.png></a>
	                  </div>
	             </div>
	         </div>
	      </div>
	      <div class="post mini-post">
	          <div class="row">
	              <div class="col-md-4">
	                  <p class="post-date">
	                      <a class="text-muted" href="#" title="2022-10-01T10:20:00+02:00">Thu 1 Dec 2022</a>
	                  </p>
	                  <p class="post-category"><a href="#">Nebula Graph</a></p>
	              </div>
	              <div class="col-md-8">
	                  <h2 class="post-title">
	                      <a href="" title="tableau_senior">Insider</a>
	                  </h2>
	                  <div class="post-content">
	                      <a class="nodec" href="/static/images/Certificate-nebulagraph.jpg"><img src=/static/images/Certificate-nebulagraph.jpg></a>
	                  </div>
	             </div>
	         </div>
	      </div>
	      <div class="post mini-post">
	          <div class="row">
	              <div class="col-md-4">
	                  <p class="post-date">
	                      <a class="text-muted" href="#" title="2023-10-11T10:20:00+02:00">Wed 11 Oct 2023</a>
	                  </p>
	                  <p class="post-category"><a href="#">Datawhale</a></p>
	              </div>
	              <div class="col-md-8">
	                  <h2 class="post-title">
	                      <a href="" title="Prompt Engineer">Prompt Engineer</a>
	                  </h2>
	                  <div class="post-content">
	                      <a class="nodec" href="/static/images/prompt_engineer.png"><img src=/static/images/prompt_engineer.png></a>
	                  </div>
	             </div>
	         </div>
	      </div>
	      <div class="post mini-post">
	          <div class="row">
	              <div class="col-md-4">
	                  <p class="post-date">
	                      <a class="text-muted" href="#" title="2023-10-11T10:20:00+02:00">Wed 11 Oct 2023</a>
	                  </p>
	                  <p class="post-category"><a href="#">InternLM</a></p>
	              </div>
	              <div class="col-md-8">
	                  <h2 class="post-title">
	                      <a href="" title="LLM Engineer">LLM Engineer</a>
	                  </h2>
	                  <div class="post-content">
	                      <a class="nodec" href="/static/images/InternLM-C2-SE2505.png"><img src=/static/images/InternLM-C2-SE2505.png></a>
	                  </div>
	             </div>
	         </div>
	      </div>
	      <div class="post mini-post">
	          <div class="row">
	              <div class="col-md-4">
	                  <p class="post-date">
	                      <a class="text-muted" href="#" title="2023-10-11T10:20:00+02:00">Wed 4 Sep 2024</a>
	                  </p>
	                  <p class="post-category"><a href="#">IPEX-LLM & 天池</a></p>
	              </div>
	              <div class="col-md-8">
	                  <h2 class="post-title">
	                      <a href="" title="LLM Engineer">IPEX-LLM & 天池</a>
	                  </h2>
	                  <div class="post-content">
	                      <a class="nodec" href="/static/images/Intel2024.jpg"><img src=/static/images/Intel2024.jpg></a>
	                  </div>
	             </div>
	         </div>
	      </div>
	  </div>
	  <ul class="pagination">
	  	<li ><a >Page 1 / 1</a></li>
	  </ul>
</div>
{% endblock %}