{% extends 'basepage.html' %}

{% block content %}
<div class="container">
  <div>
      <h1>Welcome!</h1>
      <p>This is my home page hosted on github. It only provides links to my resources, as well as ways to contact me.</p>
  </div>
  <h1>Data, Model, Visualization</h1>
  <div>
      <div class="post mini-post">
        <div class="row">
          <div class="col-md-4">
            <img height=100 width=120 src="/static/images/python.jpg">
          </div>
          <div class="col-md-8">
            <img height=100 width=120 src="/static/images/R.png">
          </div>
        </div>
      </div>
      <div class="post mini-post">
        <div class="row">
          <div class="col-md-4">
            <img height=100 width=120 src="/static/images/D3.jpg">
          </div>
          <div class="col-md-8">
            <img height=100 width=120 src="/static/images/mongodb.png">
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}